* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: sans-serif;
  color: aliceblue;
  background: linear-gradient(rgb(47, 150, 163), rgb(48, 62, 143));
}

.location,
.temp {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 30vh;
  width: 50%;
}

.location-timezone,
#skycon {
  padding: 0 10px;
}

.temp {
  flex-direction: column;
}

.degree-section {
  display: flex;
  align-items: center;
}

.degree-section .temp-degree {
  font-size: 40px;
}

.degree-section .temp-type {
  padding: 5px;
  font-size: 30px;
}

.err {
  background: red;
  border: maroon solid 2px;
  padding: 10px;
}

@media only screen and (max-width: 350px) {
  .location {
    flex-direction: column-reverse;
  }
}
