* { box-sizing: border-box; padding: 0; margin: 0; color: #222; font-family: Arial, Helvetica, sans-serif; }
button { &:hover{ cursor: pointer; } };

body {
  background-color: #ddd;
}

.details {
  background-color: #eee;
  display: flex;
  flex-direction: column;
  max-width: 900px;
  margin: 0 auto;
  padding: 20px;
  margin-top: 5vh;
  border-radius: 3px;
  text-align: center;

  &--current {
    list-style-type: none;

    &__desc {
      border: 1px solid #aaa;
      border-radius: 3px;
      padding: 5px;
      margin: 3px 0;
    }
  }

  &--icon {
    width: 100px;
    height: 100%;
    margin: 15px auto;
  }

  &--change-location {
    padding: 10px 0;
    text-align: center;

    &__btn {
      padding: 10px 15px;
      border: none;
      border-radius: 3px;
      background-color: #0074D9;
      color: #fff;

      &:hover {
        cursor: pointer;
        background-color: darken(#0074D9, 5%);
      }
    }
  }
}

// Modal Styles
.modal {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, .3);

  // &:hover > &--inner {
  //   top: 15%;
  // }

  &.hidden {
    display: none;
  }
  
  &--inner {
    max-width: 500px;
    width: 100%;
    padding: 20px 10px;
    background-color: #fff;
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: top 300ms ease-in-out;

    &__title {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 5px;

      h4 {
        color: #0074D9;
      }

      #exit-modal {
        border-radius: 3px;
        padding: 5px 10px;
        color: #aaa;
        border: none;
        background-color: transparent;
        font-size: 1rem;
      }
    }

    &__form {
      display: flex;
      flex-direction: column;

      input {
        padding: 5px;
        margin-top: 5px;
        border-radius: 3px;
        border: #aaa solid 2px;
      }
    }

    &__save-btn {
      padding: 10px;
      background-color: #0074D9;
      color: #fff;
      border: none;
      border-radius: 3px;
      margin-top: 5px;
      float: right;
    }
  }
}