header {
    text-align: center;
}

.content-container {
    display: flex;
    max-width: 75%;
    margin: 0 auto;
    height: var(--content-height);
    align-items: center;
    transform: translateY(5vh);
    box-shadow: 0px 2px 10px 2px #333;
}

/* Title Container */
.content-container__title.left {
    width: 40%;
    height: var(--content-height);
    position: relative;
    background: url(../img/weather-background.png) no-repeat right;
    background-size: cover;
}

.content-container__title--inner {
    min-width: 90%;
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -30%);
    background: rgba(255, 255, 255, .4);
}

/* Form Container */
.content-container__form.right {
    width: 60%;
    text-align: center;
    align-self: flex-start;
    height: var(--content-height);
    background: #273648;
}

.content-container__form.right form {
    padding: 30px 0;
}

.content-container__form.right form input {
    background: none;
    border-bottom: 1px solid var(--form-color);
    border-left: 0;
    border-top: 0;
    border-right: 0;
    padding: 5px 10px;
    margin: 5px 10px;
    color: #fff;
}

.content-container__form.right form button {
    background: var(--form-color);
    color: white;
    padding: 10px;
    border: 0;
    border-radius: 5px;
}

/* Form Actions */
.content-container__form.right form input:focus, .content-container__form.right form button:focus {
    outline: none;
}

.content-container__form.right form button:hover {
    cursor: pointer;
}