header {
    text-align: center;
}

.content-container {
    display: flex;
    max-width: 75%;
    margin: 0 auto;
    height: var(--content-height);
    align-items: center;
    transform: translateY(5vh);
    box-shadow: 0px 2px 10px 2px #333;
}

/* Title Container */
.content-container__title.left {
    width: 40%;
    height: var(--content-height);
    position: relative;
    background: url(../img/weather-background.png) no-repeat right;
    background-size: cover;
}

.content-container__title--inner {
    min-width: 90%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgba(255, 255, 255, .4);
}

/* Form Container */
.content-container__form.right {
    width: 60%;
    text-align: center;
    align-self: flex-start;
    height: var(--content-height);
    background: #273648;
}

.content-container__form.right form{
    padding: 30px 0;
}

.content-container__form.right form button{
    background: #ff1818aa;
    color: white;
    padding: 10px;
    border: 0;
    border-radius: 5px;
}